@model ML.Producto

@{
    ViewBag.Title = "MLSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1> LISTADO DE PRODUCTOS </h1>


<div class="table-responsive">
    <table class="table align-middle table table-striped table-bordered" id="tabla">
        <thead>
            <tr>
                <th scope="col"> </th>
                <th scope="col"> </th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Costo</th>

            </tr>
        </thead>
        <tbody>

            @foreach (ML.Producto producto in Model.lista)
            {
                <tr>
                 @*
                    <td> @producto.Descripcion </td>*@

                </tr>
            }
        </tbody>
    </table>
</div>